
.landing{
    background-image: url('https://i.postimg.cc/MZh2MQm5/CS-3000x1668-e1522241983325-scaled.jpg');
    background-size: cover;
    height: 40rem;
    background-repeat: no-repeat;
   
}

#container{
    margin: 2rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
/* cards */
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-text {
    font-size: 14px;
  }
  

.navbar{
    background-color: rgb(161, 175, 175);
}
.heading{
    text-align: center;
}
.news{
    background-color: aliceblue;
    border-radius: .5rem; 
}
.footer{
    background-color: rgb(161, 175, 175);
}
/* img{
    clip-path: circle();
} */

.img-fluid{
    height: fit-content;
    width: fit-content;
}

